.bgSurah{
    background-color: rgb(250, 235, 215, 0.56);
}
.paddingPhone{
    padding-right: 1rem;
    padding-left: 1rem;
}
@media (min-width: 992px) {
    .photoSurah {
        width: 15% !important;
    }
    .paddingPhone{
        padding-right: 2rem;
        padding-left: 2rem;
    }
}