.cover{
    background: url('../../assets/cover.png') no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.cover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0. 1.6);
    z-index: 1;
}
@media screen and (min-width: 768px) {
    .cover{
        background: url('../../assets/cover1.png') no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }   
}
