@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Vidaloka&display=swap');
@font-face {
  font-family: 'andada';
  src: url('./assets/fonts/andada/Andada-Regular.otf') format('opentype'),
       /* url('./assets/fonts/andada/AndadaSC-Regular.otf') format('opentype'); */
}
.andada {
  font-family: 'andada', serif;
  font-weight: 400;
  font-style: normal;
}
.workSans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.greatVibes {
  font-family: 'Great Vibes', cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.vidaloka{
  font-family: "Vidaloka", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorantGaramond {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.caudex {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: normal;
}

/* .caudex-bold {
  font-family: "Caudex", serif;
  font-weight: 700;
  font-style: normal;
}

.caudex-regular-italic {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: italic;
}

.caudex-bold-italic {
  font-family: "Caudex", serif;
  font-weight: 700;
  font-style: italic;
} */
